@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700';

body {
  font-family: 'Open Sans', sans-serif;
  background: #1A1417;
  color: #b39ea9;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  font-size: 13px;
}
p {
  line-height: 1.7em;
  letter-spacing: 0.03em;
}
a {
  color: #80CCF9;
  text-decoration: none;
}
a:hover {
  color: #b6e2fc;
}

h1 {
  letter-spacing: 0.02em;
  color: #fff;
  font-weight: 300;
}
h2 {
  margin-top: -10px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;

  margin-bottom: 20px;
}

li {
  list-style: none;
  letter-spacing: 0.02em;
  padding-top: 8px;
  margin-left: -40px;
}
li img {
  padding-right: 10px;
}

/* WRAPPER */

#wrapper {
  margin: 0 auto;
  width: 1000px;
  height: auto;
  padding: 10px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#close-btn {
  padding: 20px;
  position: fixed;
  float: right;
}

/* CARD COLUMN */

#card-col {
  width: 625px;
  display: inline-block;
  float: left;
}

#card-col img {
  width: 625px;
  height: auto;
  /*left: 200px;*/
}


#card-next {
  width: 605px;
  height: 605px;
  background: #858585;
  position: relative;
  top: 50px;
  z-index: -20;
  display: inline-block;
  /*left: 300px;*/
}

#card-first {
  display: block;
  width: 100%;
}

.front {
  position: relative;
}

.back {
  padding-top: 20px;
}

#print-sticker select {
  background: transparent;
  -webkit-appearance: none;
  border-radius: 4px 0 0 4px;
  height: 26px;
  width: 80px;
  border: 0;
  color: #fff;
  padding-left: 10px;

  font-size: 13px;
  background: url(../img/sticker-backing.png) no-repeat left #ddd;
  background-size: auto 26px;

  display: inline-block;
  position: absolute;

  top: 585px;
  right: 0px;
  z-index: 50;
}
*:focus {
  outline: none;
}
#print-sticker select:focus {
  outline: none;
}

#card-col #dropdown-icon {
  width: 6px;
  height: auto;
  position: relative;
  /*display: inline-block;*/

  z-index: 100;
  top: 590px;
  left: 300px;
}



/* INFO COLUMN */

#info-col {
  position: relative;
  top: 60px;

  /*background: #eee;*/
  width: 300px;
  display: inline-block;
  text-align: left;

  /*float: left;*/
  /*padding-left: 20px;*/
}

#rarity {
  color: #ACBAC0;
}

hr {
  opacity: 0.2;
}

button {
  font-weight: 400;

  padding: 8px 20px;
  color: #fff;
  background-color: #1A1417;
  border-color: #635F61; /*#B39EA9;*/
  border-width: 1px;
  border-radius: 3px;
  border-style: solid;

  cursor: pointer;
  letter-spacing: 0.07em;
}

button:hover {
  border-color: #929091;
}

/* LAPIDARY DIV */
#lapidary {
  margin-top: 100px;
}
#mineral-span {
  /*display: inline-block;*/
  float: right;
  margin-top: -26px;
}
#mineral-total {
  color: #fff;
}

/* DESTROY BUTTON */

#destroy-btn-mineral {
  width: 6px;
  height: auto;
  margin-bottom: -1px;

-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

#mineral-total-icon {
  width: 8px;
  height: auto;
  margin-bottom: -3px;
}
